@{
    ViewData["Title"] = "Home Page";
}
@model List<Emp>

<h2>Emp List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.Id</td>
                <td>@emp.Name</td>

            </tr>
        }
    </tbody>
</table>